body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}
/*#showcase{
  background: url(../slide1.jpg);
  background-attachment: fixed;
  height: 500px;
  width: 100%;
}*/
img {
  height: 500px;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0, 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;

}
header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  /*border: 1px solid white;*/
  /*padding: 0 15px 0 15px;*/
}
header .red {
  background: red;
}
header .white {
  background: #262626;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
 
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}
header nav ul li a:hover,
header nav ul li a.active {
  background: red;
}
.menu-toggle {
color:#fff;
float: right;
line-height: 50px;
font-size: 24px;
cursor: pointer;
display: none;

}


/*Slide Show*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width:100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  margin-bottom: 30px;

  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}
.text button {
    background: lawngreen;
    border: none;
}



.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* About Us*/
.about-us {
    width: 75%;
    margin: auto;
}
.content {
    text-align: center;
   
}
.case {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px; 

}
#abfood {
    color: lawngreen;
    
}

.abtimmg{
  width: 100%;
  height: 200px;
}
.gridOne {
    margin: 0, 15px;
  text-align: center;
    background: #76f5a7;
}
.gridThree {
  text-align: center;
  background: #5b73f8de;
}
.gridFive {
  text-align: center;
  background: orange;

}
/*services*/
.services {
  width: 75%;
  margin: auto;
}
.service_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px; 

}
i.servIcon{
  font-size: 30px;
  color: #76f5a7;
  margin: 2px;
  border: 1px solid #76f5a7;
}

.serv1{

  height: 100px;
  width: 100%;
}
/*End of services*/

/*Team*/
#team {
  width: 75%;
  margin: auto;
}
.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}
.imgteam{
  width: 100%;
  height: 250px;
  padding: 5px;
  border-bottom: 5px solid gray;
  border-right: 5px solid gray;
  border-left: 4px solid red;
  border-top: 4px solid red;
}

/*food Section*/
.ourfood {
  width: 100%;
}
.food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin: 5px;
}

.imgfood {
  
  width: 100%;
  height: 250px;

}
.imgcontainer {
  position: relative;
  text-align: left;
  color: #fff;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
span.bold {
  font-weight: bolder;
}

/*Testimonals section*/
.testimonals {
  margin-top: 30px;
  width: 100%;
  color: #fff;
  text-align: center;
  
 
}
.testimonals {
  background: url(../images/stats.jpg);
  background-repeat: repeat-x;
   

}
.testimonalGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:2em;
  
  
  
}

.dav {
  font-weight: bold;
}
span.dav1{
  font-weight: 10px;
}
img.next1 {
 size: small;
  height: auto;
}

/*Get In Touch*/
.touchgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}
.touchOne {
  background: lawngreen;
  color: #fff;
  text-align: center;
  width: 100%;
}
.touchTwo {
  background: url(../images/contact.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  color: #fff;
}

.touchTwo form{
  padding: 30px;
  margin: auto;
}

.touchTwo form input{
  margin-bottom: 20px;
  width: 70%;
}
.touchTwo form input[type=text]{
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
}
.touchTwo form button {
  display: block;
  float: right;
 width: 70px;
 background: lawngreen;
 color: #fff;
 padding: 2px;
 border: none;
  margin-right: 200px;
}
div.touchOne ul {
  list-style: none;
}
div.touchOne li {
  color: #000;
  font-weight: bold;
  text-align: left;
  margin-left: 150px;
}
div.touchOne p {
  text-align: justify;
  margin-left: 150px;
  
}

/*newsLetter*/
.newsLetter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgb(233, 35, 35);
  color: #fff;
  height: 80px;
}
.news0ne p {
  text-align: center;
 
}
.newsTwo {
  text-align: center;
  padding-top: 20px;
}
footer  {
  background: #000;
  color: #fff;
  overflow: hidden;
 
}
footer .copyright {
 float: right;
 padding: 0px;

}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
footer li {
  display: inline;
 margin: 10px;
}
.foot {
  padding: 20px;
  margin: 0, 20px, 0, 20px;
}
.fab {
  color: #fff;
}

/*Media Queries */

@media(max-width: 991px) {
  header {
      padding: 0 20px;
  }

  .menu-toggle {
      display: block;

  }
  header nav.active{
      left: 0;
     
  }
  header nav {

      position: absolute;
      width: 100%;
      height:auto;
      background: #333;
      top: 50px;
      left: -100%;
      transition: 0.5s;
      color: #fff

  }
  header nav ul {
      display: block;
      text-align: center;
  }

  header nav ul li a {
      border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .touchgrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
     
  }
  .touchTwo form input{
      margin-bottom: 20px;
      width: 70%;
  }
}

@media(max-width: 900px){
  .about-us {
      width: 90%;
      margin: auto;
  }
  .content {
      text-align: center;
     
  }
  .case {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;    

}

/*Team*/
#team {
  width: 90%;
  margin: auto;
}
.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

/*food Section*/
.ourfood {
  width: 100%;
}
.food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.imgfood {
  position: relative;
  width: 100%;
  height: 250px;

}
.touchgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}


}

/*Screen Size of 768*/
@media(max-width: 768px){
  .about-us {
      width: 70%;
      margin: auto;
  }
  .content {
      text-align: center;
     
  }
  .case {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;    

}

/*Team*/
#team {
  width: 80%;
  margin: auto;
}
.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
*food Section*/
.ourfood {
  width: 100%;
}
.food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.imgfood {
  position: relative;
  width: 100%;
  height: 250px;

}

}


/*Screen Size of 600*/
@media(max-width: 600px) {
  /*about us*/
  .about-us {
      width: 70%;
      margin: auto;
  }
  .content {
      text-align: center;
     
  }
  .case {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;    

}
/*Team*/
#team {
  width: 70%;
  margin: auto;
}
.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
/*food Section*/
.ourfood {
  width: 80%;
 
}
.food {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

}
/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}

  /*about us*/
  .about-us {
      width: 100%;
      margin: auto;
   
  }
  .content {
      text-align: center;
     
  }
  .case {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;  

}
/*Team*/
#team {
  width: 90%;
  margin: auto;
}
.team {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}
/*food Section*/
.ourfood {
  width: 100%;
 
}
.food {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}
.service_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  grid-template-rows: 100px ;
}

.touchOne {
  margin-left: 30%;
  width: 100%;
  background: lawngreen;
  color: #fff;
  text-align: center;
}

}

/* On smaller screens, decrease text size */


